.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header nav {
    display: flex;
    justify-content: space-between;
}

.header ul {
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
}

.header ul li {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--white-color);
    margin: 0 8px;
}
.header ul li a {
    color: var(--white-color);
    text-decoration: none;
}
.header__nav-item--qr:hover .header__qr {
    /* .header__qr chỉ bị ảnh hưởng khi hover vào header__nav-item--qr */
    display: block;
}

/* Create \ */
.header__nav-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 16px;
    background-color: #fb9086;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

/*Create Hover*/

.header__nav-item:hover,
.header__nav-item--link:hover {
    cursor: pointer;
    /* Cursor: Con trỏ chuột, Pointer: Bàn tay*/
    color: rgba(255, 255, 255, 0.7);
    /* Không được dùng opacity vì sẽ không thể bỏ hover*/
}

.header__nav-icon {
    align-items: center;
    margin: 0 2px;
}

.disible {
    cursor: text;
    color: var(--white-color);
}

/* Header QR code*/
.header__qr {
    width: 186px;
    position: absolute;
    background-color: var(--white-color);
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 3px;
    display: none;
    animation: fadeIn 1s ;
}

.header__qr::before{
    position: absolute;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
    top: -10%;
    left: 0;
}

.header__qr-img {
    width: 100%;
}

.header__qr-app {
    display: flex;
    justify-content: space-between;
    opacity: .6;
}

.header__qr-download--img {
    height: 14px;
    margin: 0 11px 0 11px;
}